SPAN.Welcome {
  font-family: Verdana;
  font-size: 24px;
  color: #0E547E;
}

SELECT.Login {
  font-family: Verdana;
  font-size: 11px;
  border-style: solid;
  border-color: #98CBFE;
  border-width: 1px;
}

BODY.BGLogin {
  background-color: #DAE8EB;
  background-repeat: repeat-x;
  height: 100%;
}

SPAN.Login {
  font-family: Verdana;
  font-size: 11px;
  color: #0E547E;
}

INPUT.Login {
  font-family: Verdana;
  font-size: 11px;
  border-style: solid;
  border-color: #98CBFE;
  border-width: 1px;
}

INPUT.Button {
  font-family: Verdana;
  font-size: 11px;
  font-weight: bold;
  color: White;
  background: url('../Images/bgbutton.png');
  border-style: none;
  width: 55px;
}

SPAN.LoginAnnonServiceCaption {
  font-family: Verdana;
  font-size: 11;
  text-decoration: underline;
  color: #0E547E;
  cursor: hand;
  cursor: pointer;
  padding-right: 15px;
}

SPAN.LoginServiceDesc {
  font-family: Verdana;
  font-size: 10;
  color: #666666;
  cursor: hand;
  cursor: pointer;
}

IMG.LoginServiceImg {
  cursor: hand;
  cursor: pointer;
}

.login .main {
  margin: 15px auto;
  width: 570px;
  height: auto;
  border-style: solid;
  border-color: white;
  border-width: thin;
  border-radius: 0px 35px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,e5e5e5+76,dfdfdf+81,d3d3d3+87,b5b5b5+100 */
  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient(top, #e5e5e5 0%, #e5e5e5 76%, #dfdfdf 81%, #d3d3d3 87%, #b5b5b5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e5e5e5 0%,#e5e5e5 76%,#dfdfdf 81%,#d3d3d3 87%,#b5b5b5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e5e5e5 0%,#e5e5e5 76%,#dfdfdf 81%,#d3d3d3 87%,#b5b5b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */
  box-shadow: 2px 2px 5px;
}

.login .main .box-left {
  margin-top: 0px;
  padding: 10px 0px;
}

.login .box-formulario-login {
  margin-bottom: 0px;
}

.login .box-formulario-logo {
  float: left;
  width: 270px;
  margin-top: 40px;
  background: url(../Images/login/totvs_vertical190x190.png) no-repeat center;
}

.icone-Login {
  float: left;
  vertical-align: baseline;
  padding: 5px 0px 5px 5px;
  margin: 5px;
  width: auto;
}

.icone-Login-bg {
  position: absolute;
  float: left;
  vertical-align: baseline;
  padding: 5px 0px 5px 5px;
}

.botao-Login {
  width: auto;
  background: transparent;
  border: none;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Microsoft Sans Serif';
  margin: auto;
}

.botao-facebook {
  background: #4267B2 !important;
  font-family: Microsoft Sans Serif;
  font-weight: bold;
  line-height: 36px;
  display: block;
  text-align: center;
  float: left;
  margin: 2px 2px;
  border: 1px solid #4267B2;
}

  .botao-facebook .botao-Login {
    color: white;
  }

.botao-google {
  background: white !important;
  font-family: Microsoft Sans Serif;
  font-weight: bold;
  line-height: 36px;
  display: block;
  text-align: center;
  float: left;
  margin: 2px 2px;
  border: 1px solid white;
}

  .botao-google .botao-Login {
    color: gray;
  }

.botao-custom {
  font-family: Microsoft Sans Serif;
  font-weight: bold;
  line-height: 36px;
  display: block;
  text-align: center;
  float: left;
  margin: 2px 2px;
  border: 1px black;
}

.botao-custom .botao-Login {
  float: left;
}

.login-oauth {
    text-align: center;
}